<div class="container">
  <div class="col-lg-4 col-xs-12">
    <h1>{{clientName}}</h1>
    <div class="text-muted">
      <address *ngIf="clientDetail.Add2 == null" class="jt-bigger-font">
        {{clientDetail.Add1}}<br> {{clientDetail.City}}, {{clientDetail.state}} {{formatUsZipCode(clientDetail.zip)}}<br>
      </address>
      <address *ngIf="clientDetail.Add2 != null" class="jt-bigger-font">
        {{clientDetail.Add1}}<br> {{clientDetail.Add2}}
        <br> {{clientDetail.City}}, {{clientDetail.state}} {{formatUsZipCode(clientDetail.zip)}}<br>
      </address>
    </div>
    <div>
      <h4>Contacts</h4>
      <table class="table table-condensed jt-width">
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
        </tr>
        <tr *ngFor="let contact of contacts">
          <td>{{contact.Contact}}</td>
          <td>{{formatUsPhone(contact.phone)}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="jt-google-map col-lg-8 col-xs-12">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="mapZoom">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>
  </div>
</div>
<div class="container">
  <h3 class="text-muted">Jobs</h3>
  <p class="text-muted">JOBS FOUND: {{getJobCount()}}</p>
  <table class="table table-striped table-condensed" [mfData]="clientJobs" #mf="mfDataTable" [mfRowsOnPage]="25">
    <thead>
      <tr>
        <td colspan="5">
          <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]">
          </mfBootstrapPaginator>
        </td>
      </tr>
      <tr>
        <th style="width: 10%">
          <mfDefaultSorter by="Jobnum">Job Number</mfDefaultSorter>
        </th>
        <th style="width: 60%">
          <mfDefaultSorter by="JobDescp">Description</mfDefaultSorter>
        </th>
        <th style="width: 15%">
          <mfDefaultSorter by="DropDate">Starting Drop Date</mfDefaultSorter>
        </th>
        <th style="width: 15%">
          <mfDefaultSorter by="ToDropDate">Ending Drop Date</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of mf.data">
        <td>
          <a [routerLink]="['/job-details', job.Jobnum]">{{job.Jobnum}}</a>
        </td>
        <td>{{job.JobDescp}}</td>
        <td>{{job.DropDate}}</td>
        <td>{{job.ToDropDate}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]">
          </mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<br>
