<div class="container">
  <div class="col-lg-4 col-xs-12">
    <h1>{{clientName}}</h1>
    <div class="text-muted">
      <address *ngIf="clientDetail.Add2 == null" class="jt-bigger-font">
        {{clientDetail.Add1}}<br> {{clientDetail.City}}, {{clientDetail.state}} {{formatUsZipCode(clientDetail.zip)}}<br>
      </address>
      <address *ngIf="clientDetail.Add2 != null" class="jt-bigger-font">
        {{clientDetail.Add1}}<br> {{clientDetail.Add2}}
        <br> {{clientDetail.City}}, {{clientDetail.state}} {{formatUsZipCode(clientDetail.zip)}}<br>
      </address>
    </div>
    <div>
      <h4>Contacts</h4>
      <table class="table table-condensed jt-width">
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
        </tr>
        <tr *ngFor="let contact of contacts">
          <td>{{contact.Contact}}</td>
          <td>{{formatUsPhone(contact.phone)}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="jt-google-map col-lg-8 col-xs-12">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="mapZoom">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng" ></sebm-google-map-marker>
    </sebm-google-map>
  </div>
</div>
<hr>
<div class="container">
<h3 class="text-muted">Jobs</h3>
<p class="text-muted">JOBS FOUND: {{getJobCount()}}</p>
<table class="table table-condensed jt-width">
  <tr>
    <th>Job Number</th>
    <th>Description</th>
    <th>Drop Date Start</th>
    <th>Drop Date End</th>
    <th>QTY</th>
  </tr>
  <tr *ngFor="let job of clientJobs">
    <td>{{job.Jobnum}}</td>
    <td>{{job.JobDescp}}</td>
    <td>{{job.DropDate}}</td>
    <td>{{job.ToDropDate}}</td>
    <td>9,999,999</td>
  </tr>
</table>
</div>
<br>

